<div class="container">
	<p id="notice"><%= notice %></p>

	<p>
	  <h3>代碼：</h3>
	  <h3><%= @state.id %></h3>
	</p>

	<p>
	  <h3>圖片名稱：</h3>
	  <h3><%= @state.img %></h3>
	</p>

	<%= link_to '修改', edit_state_path(@state), :class=>"btn btn-success" %>
	<%= link_to '返回', states_path, :class=>"btn btn-secondary" %>
</div>